* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    background-image: url(/images/QMCdOjX.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.characters{
    width: 300px;
    margin-top: 120px;
    margin-left: 170px;
}
.spacescip-image{
    position: absolute;
    width: 520px;
    height: auto;
    left: 71%;
  top: 310px;
}